.container{
    width: 100%;
    padding: 32px 64px;
    overflow: hidden;
}
.title{
    margin-bottom: 48px;
    font-size: 48px;
    color: wheat;
    font-weight: bold;
    text-align: center;
}
.ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    list-style: none;
    font-size: 20px;
    padding: 0;
}

.li {
    background: wheat;
    border: solid white 3px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0px 8px rgba(255, 254, 254, 0.4);
    transition: scale .2s ease;
}

.li:hover{
    scale:calc(1.1);
}
.button {
    margin: 32px 0;
    padding: 17px 40px;
    border-radius: 10px;
    border: 0;
    background-color: wheat;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: black;
    cursor: pointer;
  }
  
  
  
  .button:active {
    background-color: wheat;
    box-shadow: wheat 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
  