
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  transition: all 0.3s cubic-bezier(1, 0, 1, 1);
}

/* Tema Claro */
body[data-theme="light"] {
  background-color: #ffffff;
}

/* Tema Oscuro */
body[data-theme="dark"] {
  background-color: #1e1e1e;
}
